@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat";
}

.normal {
  background: rgb(36, 36, 36);
}
.grass {
  background: #52b788;
}
.water {
  background: #168aad;
}
.fire {
  background: #f25c54;
}
.bug {
  background: #c38e70;
}
.dark {
  background: #2b2d42;
}
.fairy {
  background: #e5e5e5;
}
.electric {
  background: #ffd100;
}
.poison {
  background: #6247aa;
}
.ground {
  background: #582f0e;
}
